h1 {color:mediumpurple}
h1 {text-align: center;}
p {color:black}
p {text-align:justify}
p {font-size: medium;}
p.aviso{color:grey}
h2 {color: mediumslateblue}
h3 {color:rgb(196, 31, 64)}
body{font-family: 'Times New Roman', Times, serif;}
/*Cambiamos de letra a una más clasica y elegante*/
html{background-color: rgb(219, 217, 217);}
